<img id="devices" alt="/img/devices.jpg" class="lazyLoad">
<div id="above-the-fold" class="sections">
    <p></p>
    <h1>
        <small>Dominion Enterprises</small><br>
        innovations<strong>lab</strong>
    </h1>
    <nav class="clearfix left">
        <a onclick="scrollToEl('strengths');">Strengths</a>
        <a onclick="scrollToEl('problems');">Challenges</a>
    </nav>
    <nav class="clearfix right">
        <a onclick="scrollToEl('solutions');">Solutions</a>
        <a onclick="scrollToEl('more-solutions');">More Ideas</a>
    </nav>
    <a class="clearfix teaser" onclick="scrollToEl('strengths');">
        <span class="background"></span>
        <span class="icon">&#xf01a;</span>
        <span class="text">
            <strong>Strengths</strong>
            Dominion Enterprises actively builds an environment that is attractive to prospective employees.
        </span>
    </a>
</div>
<div id="strengths" class="sections">
    <h2>DE Strengths</h2>
    <ul class="clearfix">
        <li>
            <span style="font-size: 65px;">&#xf128;</span>
            <h3>Large Problems</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf155;</span>
            <h3>Competitive Pay</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf0e8;</span>
            <h3>User Base</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf085;</span>
            <h3>Vast Resources</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf0c0;</span>
            <h3>Diversity</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
    </ul>
    <a class="clearfix teaser" onclick="scrollToEl('problems');">
        <span class="background"></span>
        <span class="icon">&#xf01a;</span>
        <span class="text">
            <strong>Challenges</strong>
            Dominion Enterprises sees recurring challenges that work against the culture they are trying to cultivate.
        </span>
    </a>
</div>
<div id="problems" class="sections">
    <h2>DE Challenges</h2>
    <ul class="clearfix">
        <li>
            <span>&#xf201;</span>
            <h3>Lack of Innovation</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf070;</span>
            <h3>Lack of Visibility</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf0ae;</span>
            <h3>Duplication of Effort</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf091;</span>
            <h3>Recruiting Competition</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
    </ul>
    <a class="clearfix teaser" onclick="scrollToEl('solutions');">
        <span class="background"></span>
        <span class="icon">&#xf01a;</span>
        <span class="text">
            <strong>Solution</strong>
            Dominion Enterprises can combat these challenges starting with a creative space that fosters a healthy, productive environment.
        </span>
    </a>
</div>
<div id="solutions" class="sections">
    <div class="circle"></div>
    <div class="partial"></div>
    <a class="first stage">Collaboration</a>
    <a class="second stage">Creativity</a>
    <a class="third stage">Celebration</a>
    <a class="fourth stage">Culture</a>
    <a class="clearfix teaser" onclick="scrollToEl('more-solutions');">
        <span class="background"></span>
        <span class="icon">&#xf01a;</span>
        <span class="text">
            <strong>Beyond Space</strong>
            The creative space is a great idea, but with a few additional perks it can become an amazing tool for our company.
        </span>
    </a>
    <p class="first text">Providing time and space for our brightest and most motivated workers to come together to find the best solutions creates a more engaging and fulfilling work environment.</p>
    <p class="second text">The synergy found in a space dedicated focused and even out-of-the box thinking is not easily manufactured.  A space that provides the tools necessary for meaningful collaboration will.</p>
    <p class="third text">We have achieved so much in the past few years.  Let’s build a culture of regular celebration where we highlight the great things we’ve done and appreciate the talent around us.</p>
    <p class="fourth text">Culture is never made by policy. Culture is made by people.  Still, it is important that policy not stand in the way of people creating a culture of pride, ownership, innovation, and success.</p>
</div>
<div id="more-solutions" class="sections">
    <div class="clearfix">
        <div class="width100">
            <img alt="/img/creative-space.png" class="lazyLoad width100">
            <h3>Creative Space</h3>
            <p>The DE creative space is where engineers, designers, and knowledge workers come together to tackle challenges and develop the next wave of big ideas. They collaborate at the whiteboards around the space.  Developers and designers find a spot at a standing desks to write code and develop experiences. This is the space where innovation is cultivated and facilitated in a way that the typical office layout simply can’t afford.</p>
        </div>
    </div>
    <div class="clearfix">
        <div>
            <img alt="/img/coffee.jpg" class="lazyLoad">
            <h3>Morning Meetups</h3>
            <p>Adding a place for Dominion Enterprise employees to meet in the morning will foster collaboration and idea sharing.  Providing coffee and a comfortable setting would be an attractive destination for before and after work social gatherings.</p>
        </div>
        <div>
            <img alt="/img/whiteboard.jpg" class="lazyLoad">
            <h3>Idea Board</h3>
            <p>Adding an idea board would provide a location for employees to talk about the big challenges that our companies are trying to overcome.  Pulling in innovative, creative thinking during lunch breaks (or early mornings) would allow companies to benefit from thought leaders that are typically unavailable when companies work in their own siloes.</p>
        </div>
    </div>
    <div class="clearfix">
        <div>
            <img alt="/img/marketing-site.jpg" class="lazyLoad">
            <h3>Innovation Reel</h3>
            <p>Adding an innovation reel on a marketing site that flaunts our innovation and creative space would bolster our recruiting efforts.  This beautiful web site would visually show candidates what recruiters and hiring managers have been attempting to convey orally.</p>
        </div>
        <div>
            <img alt="/img/incubator.jpg" class="lazyLoad">
            <h3>Incubator</h3>
            <p>Adding an incubator would allow Dominion Enterprises to foster excellent ideas and watch them grow into full-fledged solutions.  Hackathon winners could receive an additional week, two weeks or a month based on the merit of their efforts.  Companies would reap the rewards of seeing their employee's ideas become reality.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    var onScrollEvent = function() {
            if($('body').scrollTop() > 1500) {
                $('.lazyLoad').each(function(el) {
                    $(this).attr('src', $(this).attr('alt'));
                });

                $(document).unbind('scroll', onScrollEvent);
            }
        },

        scrollToEl = function(elId) {
            var elem = $('#'+ elId);
            if(!(elem.offset())) {
                return;
            }

            $('body').animate({
                scrollTop: elem.offset().top
            }, elem.offset().top - $('body').scrollTop());
        };

    $(document).bind('scroll', onScrollEvent);
</script>