<div id="above-the-fold" class="sections">
    <p></p>
    <h1>
        <small>Dominion Enterprises</small><br>
        innovations<strong>lab</strong>
    </h1>
    <nav class="clearfix left">
        <a>Strengths</a>
        <a>Challenges</a>
    </nav>
    <nav class="clearfix right">
        <a>Solutions</a>
        <a>Benefits</a>
    </nav>
    <a class="clearfix teaser" onclick="window.scroll(0,768);">
        <span class="background"></span>
        <span class="icon">&#xf01a;</span>
        <span class="text">
            <strong>Strengths</strong>
            Dominion Enterprises actively builds an environment that is attractive to prospective employees.
        </span>
    </a>
</div>
<div id="strengths" class="sections">
    <h2>DE Strengths</h2>
    <ul class="clearfix">
        <li>
            <span style="font-size: 65px;">&#xf128;</span>
            <h3>Large Problems</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf155;</span>
            <h3>Competitive Pay</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf0e8;</span>
            <h3>User Base</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf085;</span>
            <h3>Vast Resources</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf0c0;</span>
            <h3>Diversity</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
    </ul>
    <a class="clearfix teaser" onclick="window.scroll(0,1536);">
        <span class="background"></span>
        <span class="icon">&#xf01a;</span>
        <span class="text">
            <strong>Challenges</strong>
            Dominion Enterprises sees recurring challenges that work against the culture they are trying to cultivate.
        </span>
    </a>
</div>
<div id="problems" class="sections">
    <h2>DE Challenges</h2>
    <ul class="clearfix">
        <li>
            <span>&#xf128;</span>
            <h3>Lack of Innovation</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf155;</span>
            <h3>Lack of Visibility</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf0e8;</span>
            <h3>Duplication of Effort</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
        <li>
            <span>&#xf085;</span>
            <h3>Recruiting Competition</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </li>
    </ul>
    <a class="clearfix teaser" onclick="window.scroll(0,1536);">
        <span class="background"></span>
        <span class="icon">&#xf01a;</span>
        <span class="text">
            <strong>Solution</strong>
            Dominion Enterprises ...
        </span>
    </a>
</div>