<div id="above-the-fold">
    <p></p>
    <h1>
        <small>Dominion Enterprises</small><br>
        innovations<strong>lab</strong>
    </h1>
    <nav class="clearfix left">
        <a>Strengths</a>
        <a>Challenges</a>
    </nav>
    <nav class="clearfix right">
        <a>Solutions</a>
        <a>Benefits</a>
    </nav>
    <a class="clearfix">
        <span class="background"></span>
        <span class="icon">&#f01a;</span>
        <span class="text">
            <strong>Strengths</strong><br>
            Dominion Enterprises actively builds an environment that is attractive to 
        </span>
    </a>
</div>