$labBlue: #3be;

#devices {
    display: block;
    position: absolute;
    top: 2304px;
    left: 0;
    right: 0;
    height: 768px;
}

.sections {
    height: 768px;
    position: relative;
    background: #fff;

    a.teaser {
        position: absolute;
        display: block;
        bottom: 15px;
        right: 15px;
        padding: 25px;
        color: #fff;

        >span {
            display: block;

            &.icon {
                position: relative;
                float: left;
                font-family: 'fontawesome';
                font-size: 50px;
                padding-right: 20px;
                padding-top: 5px;
                opacity: 0.6;
            }

            &.text {
                position: relative;
                float: left;
                width: 250px;
                line-height: 18px;
                text-shadow: 0 0 1px #333;

                >strong {
                    display: block;
                    padding-bottom: 5px;
                    text-transform: uppercase;
                    font-weight: 100;
                    font-size: 125%;
                }
            }

            &.background {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #333;
                opacity: 0.8;
            }
        }
    }
}

#above-the-fold {
    background: url(../img/office-space.jpg) no-repeat center center;

    >nav, >p { position: absolute; }

    >p {
        left: 0;
        right: 0;
        height: 200px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, transparent 100%, 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.75)), color-stop(100%, transparent));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%, transparent 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, transparent 100%);
    }

    >h1 {
        color: #fff;
        text-shadow: 0 0 20px #000;
        text-align: center;
        font-size: 325%;
        position: relative;
        line-height: 37px;
        letter-spacing: 1px;

        >strong { color: $labBlue; }

        >small {
            text-transform: uppercase;
            font-size: 20px;
            color: #ddd;
            letter-spacing: 0px;
        }
    }

    >nav {
        top: 10px;

        &.left { left: 25px; }
        &.right { right: 25px; }

        >a {
            display: block;
            cursor: pointer;
            padding: 0 35px;
            height: 30px;
            line-height: 30px;
            color: #fff;
            float: left;
            color: #bbb;
            text-shadow: 0 0 10px #000;

            &:hover { text-decoration: underline; }
        }
    }

    
}

#strengths {
    height: 618px;
    padding: 75px 0;

    >h2 {
        text-align: center;
        margin-bottom: 50px;
        font-size: 275%;
    }

    >ul {
        width: 1000px;
        margin: 0 auto;

        >li {
            float: left;
            width: 150px;
            margin: 0 25px;

            >span {
                display: block;
                background: $labBlue;
                color: #fff;
                font-family: 'fontawesome';
                font-size: 50px;
                border-radius: 60px;
                width: 120px;
                height: 120px;
                margin: 0 15px 25px;
                line-height: 120px;
                text-align: center;
            }

            >h3 {
                text-transform: uppercase;
                margin-bottom: 25px;
                text-align: center;
                font-size: 115%;
            }

            >p { line-height: 22px; }
        }
    }

    >a.teaser {
        >span.background { background: #867454; }
    }
}


#problems {
    background: url(../img/alt-green-bg.png) repeat 0 0;
    height: 618px;
    padding: 75px 0;
    color: #ddd;

    >h2 {
        text-align: center;
        margin-bottom: 50px;
        font-size: 275%;
        color: #ddd;
        text-shadow: 0 0 5px #000;
    }

    >ul {
        width: 1000px;
        margin: 0 auto;

        >li {
            float: left;
            width: 150px;
            margin: 0 50px;

            >span {
                display: block;
                background: #fff;
                color: #273337;
                font-family: 'fontawesome';
                font-size: 50px;
                border-radius: 60px;
                width: 120px;
                height: 120px;
                margin: 0 15px 25px;
                line-height: 120px;
                text-align: center;
            }

            >h3 {
                text-transform: uppercase;
                margin-bottom: 25px;
                text-align: center;
                font-size: 115%;
                min-height: 44px;
                line-height: 22px;
                text-shadow: 0 0 5px #000;
            }

            >p {
                line-height: 22px;
                text-shadow: 0 0 5px #000;
            }
        }
    }

    >a.teaser {
        color: #111;

        >span.background {
            background: #CBCCA8;
            opacity: 0.7;
        }

        >span.text { text-shadow: none; }
    }
}

#solutions {
    background-color: transparent;

    >p, >div {
        position: absolute;
        top: 84px;
        left: 50%;
        margin-left: -250px;
    }

    >div {
        border-width: 10px;
        border-style: solid;
        border-radius: 275px;
        height: 500px;
        width: 500px;

        &.circle {
            border-color: #fff;
        }

        &.partial {
            border-color: transparent;
            border-right-color: $labBlue;

            -webkit-animation: spinner 32s;
            animation: spinner 32s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
    }

    >a.stage {
        position: absolute;
        width: 275px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        left: 50%;
        top: 50%;
        color: #fff;
        font-size: 225%;
        text-shadow: 0 0 1px #555;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        text-decoration: none;

        &.second, &.third { margin-left: -490px; }
        &.first, &.fourth { margin-left: 245px; }
        &.second, &.first { margin-top: -250px; }
        &.third, &.fourth { margin-top: 100px; }

        &.first {
            color: $labBlue;

            -webkit-animation: circleFirst 32s;
            animation: circleFirst 32s;
        }

        &.second {
            -webkit-animation: circleSecond 32s;
            animation: circleSecond 32s;
        }

        &.third {
            -webkit-animation: circleThird 32s;
            animation: circleThird 32s;
        }

        &.fourth {
            -webkit-animation: circleFourth 32s;
            animation: circleFourth 32s;
        }

        &.first, &.second, &.third, &.fourth {
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
    }

    >a.teaser {
        color: #443418;

        >span.background {
            background: #ddd;
            opacity: 0.6;
        }

        >span.text { text-shadow: none; }
    }

    >p.text {
        height: 300px;
        width: 300px;
        text-align: center;
        padding: 100px;
        color: #fff;
        font-size: 175%;
        text-shadow: 0 0 1px #555;
        opacity: 0.0;
        line-height: 40px;

        &.first {
            -webkit-animation: textFirst 32s;
            animation: textFirst 32s;
        }

        &.second {
            -webkit-animation: textSecond 32s;
            animation: textSecond 32s;
        }

        &.third {
            -webkit-animation: textThird 32s;
            animation: textThird 32s;
        }

        &.fourth {
            -webkit-animation: textFourth 32s;
            animation: textFourth 32s;
        }

        &.first, &.second, &.third, &.fourth {
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
    }
}

#more-solutions {
    height: auto;
    padding: 100px 0;
    position: relative;

    >div {
        width: 1150px;
        margin: 0 auto;

        >div {
            float: left;
            margin-bottom: 110px;
            width: 500px;    

            &.width100{
                width: 100%;
            }

            >img {
                margin-bottom: 35px;
                box-shadow: 0 0 5px #000;
                display: block;
                min-height: 335px;
                width: 500px;        

                &.width100{
                    width: 100%;
                }
            }

            >h3 {
                text-transform: uppercase;
                font-size: 150%;
                margin-bottom: 15px;
            }

            >p {
                line-height: 22px;
            }

            &:first-child { margin-right: 150px; }
        }
    }

    >div:first-child{
        font-size: 1.5em;

        >div p{
            line-height: 35px;
        }
    }
}