$labBlue: #1cf;
$labYellow: #e4df01;
$labPink: #d6077d;
$labGreen: #4cee0c;

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-right-color: $labBlue;
    }

    25% {
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        border-right-color: $labGreen;
    }

    50% {
        -webkit-transform: rotate(-225deg);
        transform: rotate(-225deg);
        border-right-color: $labYellow;
    }

    75% {
        -webkit-transform: rotate(-315deg);
        transform: rotate(-315deg);
        border-right-color: $labPink;
    }

    100% {
        -webkit-transform: rotate(-405deg);
        transform: rotate(-405deg);
        border-right-color: $labBlue;
    }
}

@-webkit-keyframes blueFirst {
    0% { color: $labBlue; }
    25% { color: #fff; }
    75% { color: #fff; }
    100% { color: $labBlue; }
}

@-webkit-keyframes blueSecond {
    0% { color: #fff; }
    25% { color: $labGreen; }
    50% { color: #fff; }
}

@-webkit-keyframes blueThird {
    25% { color: #fff; }
    50% { color: $labYellow; }
    75% { color: #fff; }
}

@-webkit-keyframes blueFourth {
    50% { color: #fff; }
    75% { color: $labPink; }
    100% { color: #fff; }
}
