html, body {
    font-family: 'oxygen';
    font-size: 14px;
    font-weight: 100;
    color: #333;
}

footer {
    padding: 20px 15px;
    text-align: center;
    font-size: 90%;
}

.clearfix:after {
    display: table;
    content: '';
    clear: both;
}

a { text-decoration: none; }